# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = stonegray
	email = stone@stonegray.ca
	signingkey = 1360199FB17ACA3D
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
