# Stone's user ssh config
###############################################################################

# A few things are redundant but included for readability. 

# WARNING: This file is included in ~/.dotfiles

# Global settings:
###################
# macOS Only
PKCS11Provider=/usr/lib/ssh-keychain.dylib

Host *
	ServerAliveInterval 10
	UseKeychain yes
	AddKeysToAgent yes
	ForwardX11 no
	ForwardAgent no
	ControlMaster auto
	ControlPersist 4800
	ControlPath ~/.ssh/control/%r.%h.%p.sock
	IdentitiesOnly yes

# Security settings:
Host *
	# Only permit CBC and CTR modes of AES 128-256.
	Ciphers aes128-cbc,aes192-cbc,aes256-cbc,aes256-ctr,aes192-ctr,aes128-ctr

	# Disallow insecure ciphers except RSA:
	HostKeyAlgorithms ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ssh-rsa
	KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,diffie-hellman-group-exchange-sha256

	# Use only SHA256/SHA512
	MACs hmac-sha2-256,hmac-sha2-512

# WAN settings:
Host !192.168.*.* !10.*.*.* !169.254.*.*
	# Never use password auth on WAN.
	PasswordAuthentication no
	# Force only using identities here; not in agent on WAN. 
	IdentitiesOnly yes
	# Never foward agent. 
	ForwardAgent no
	# Enable compression
	Compression yes

# Ignore host checking on LAN.
Host 192.168.*.* 10.*.*.* 169.254.*.*
	# Disable identy changed message:
	StrictHostKeyChecking no	
	# Don't comperses
	Compression no

# Docker
Host 172.17.*.*
	ProxyCommand docker run -i --rm  busybox nc %h %p 
	StrictHostKeyChecking no
